.header {
	background: $main;
	@include spacing-y(2);

	&__wrapper {
		@include maxwidth;
		display: flex;
		justify-content: space-between;
	}//~wrapper
	&__logo {
		
	}//~logo
	&__btn {
		@media ($notebook) {
			display: none;
		}
	}//~btn
}