.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
	max-width: 100%;
	margin-left: -($u * 0.5);
	margin-right: -($u * 0.5);
}

.col {
	flex: 1;
	max-width: 100%;
	@include spacing-x(0.5);
}

@for $i from 1 through 12 {
	.col-#{$i} {
		flex: 0 0 percentage($i / 12);
		max-width: percentage($i / 12);
		@include spacing-x(0.5);
	}
}

