@mixin spacing-y($spacingAux) {
	@if $spacingAux {
		padding-top: ($u * $spacingAux);
		padding-bottom: ($u * $spacingAux);
	} @else {
		padding-top: $u;
		padding-bottom: $u;
	}
}

@mixin spacing-x($spacingAux:null) {
	@if $spacingAux {
		padding-left: ($u * $spacingAux);
		padding-right: ($u * $spacingAux);
	} @else {
		padding-left: $u;
		padding-right: $u;
	}
}

@mixin maxwidth {
	@media ($tablet) {
		max-width: $size-tablet;
	}
	@media ($notebook) {
		max-width: $size-notebook;
	}
	@media ($desktop) {
		max-width: $size-desktop;
	}
	@media ($desktopLg) {
		max-width: $size-desktopLg;
	}
	margin: 0 auto;
}

