// Main vars
$u:						1rem;
$size-tablet:			768px;
$size-notebook:		992px;
$size-desktop:		1400px;
$size-desktopLg:	1600px;

// Colors
$light:		#FFF;
$dark:		#0e0e0e;
$main: 		#7367F0;
$alt:			#CE9FFC;

// Media queries
$tablet:			"min-width: 768px";
$notebook:		"min-width: 992px";
$desktop:			"min-width: 1400px";
$desktopLg:		"min-width: 1600px";
